@import "./css-vars";

.btn {
  height: 44px;
  line-height: 44px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0 25px;
  display: block;
  color: var(--btnPrimaryFont);

}

.btn-purple {
  color: var(--btnPrimaryFont);
  background: var(--buttonFeedback);
  transition: all .2s;
  &:hover {
    background: var(--buttonFeedbackHover);
  }
}

.btn-state {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 15px;
  background: var(--buttonToggle);
  color: var(--primaryBtnText);
  &.qa {
    background: var(--buttonQA);
    color: var(--btnPrimaryFont);
  }
  &.stage {
    background: var(--buttonQA);
    color: var(--btnPrimaryFont);
  }
  &.prod {
    background: var(--buttonQA);
    color: var(--btnPrimaryFont);
  }
}

.link {
  color: var(--primaryHover);
  font-weight: 600;
  font-size: 13px;
  text-decoration: underline;
  transition: all .2s;
  &:hover {
    color: var(--linkHover);
  }
}

.btn-login {
  color: var(--primary);
  background: var(--greyLight);
  border: 1px solid var(--btnUpvoteHover);
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all .2s;
}

.btn-logout {
  color: var(--primaryHover);
  background: var(--greyLight);
  transition: all .2s;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
