@import "/src/app/styles/css-vars";

.states {
    background: var(--cardBackground);
    border-radius: 10px;
    padding: 24px 24px 10px;
    margin-bottom: 24px;
    .mat-button-toggle-group-appearance-standard {
      display: flex;
      flex-flow: row wrap;
      border: 0;
      #mat-button-toggle-1-button{
        background-color: pink !important;
      }
      .mat-button-toggle.mat-button-toggle-checked {
        border-radius: 10px;
        background: var(--primary) !important; 
        color: #fff !important;
      }
      .mat-button-toggle + .mat-button-toggle {
        border: 0;
        border-radius: 10px;
        background: var(--stateBtnToggle);
        color: var(--stateBtnText);
      }
    }
  }

  .mat-button-toggle-button {
    background: var(--stateBtnToggle) !important;
    color: var(--primaryLight) !important;
  }

